<div class="wrapper">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <ul class="navbar-nav col-8 mx-3 text-left">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['register']"><strong>DateCatcher</strong></a>
            </li>
        </ul>
        <ul class="navbar-nav col-3">
            <li><a class="nav-link">Welcome back</a></li>
            <li ngbDropdown class="d-inline-block">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown">
                    {{ _currentUser.firstname }}
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">My Calendar</a>
                    <a class="dropdown-item" href="#">Invitations</a>
                    <a class="dropdown-item" href="#">Notifications</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container mx-auto text-center primary col-10">
        <h2>Invitations</h2>
        <hr>
    </div>
    <div class="container mx-auto row secondary">
        <div id="notifications" class="container mx-auto text-center col-5">
            <h2>Upcoming Dates</h2>
            <hr>
            <button class="btn btn-light" [routerLink]="['plans']">Details</button>
        </div>
        <div id="events" class="container mx-auto text-center col-5">
            <h2>Notifications</h2>
            <hr>
        </div>
    </div>

</div>
